<!DOCTYPE html>
<html>
	<head lang="hu">
		<link rel="icon" href="../img/vapo.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Jegyzetek</title>
		<link href="../css/style.css" rel="stylesheet" type="text/css"/>
		<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="px-3 py-2 bg-dark text-white">
			<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
				<div class="container">
					<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
						<span class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"></span>
						<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
							<li>
								<a href="../index.html" class="nav-link text-white">
									<img src="../svg/house.svg" class="bi d-block mx-auto mb-1" width="24" height="24"></img>
									Főoldal
								</a>
							</li>
							<li>
								<a href="msgboard.html" class="nav-link text-white">
									<img src="../svg/msg.svg" class="bi d-block mx-auto mb-1" width="24" height="24"></img>
									Üzenőfal
								</a>
							</li>
							<li>
								<a href="schedule.html" class="nav-link text-white">
									<img src="../svg/calendar.svg" class="bi d-block mx-auto mb-1" width="24" height="24"></img>
									Órarend
								</a>
							</li>
							<li>
								<a href="#" class="nav-link text-secondary" aria-current="page">
									<img src="../svg/note.svg" class="bi d-block mx-auto mb-1" id="menu-icon" width="24" height="24"></img>
									Jegyzetek
								</a>
							</li>
							<li>
								<a href="playlist.html" class="nav-link text-white">
									<img src="../svg/spotify.svg" class="bi d-block mx-auto mb-1" width="24" height="24"></img>
									Spotify playlist
								</a>
							</li>
							<li>
								<a href="https://github.com/solymosi/npu" target="_blank" rel="noopener noreferrer nofollow" class="nav-link text-white">
									<img src="../svg/powerup.svg" class="bi d-block mx-auto mb-1" width="24" height="24"></img>
									PowerUp!
								</a>
							</li>
							<li>
								<a href="https://drive.google.com/drive/folders/18zKFkxjT7kj2Neu6nV7XDmcroiy_T_m7?usp=sharing" 
								target="_blank" rel="noopener noreferrer nofollow" class="nav-link text-white">
									<img src="../svg/drive.svg" class="bi d-block mx-auto mb-1" width="24" height="24"></img>
									Drive
								</a>
							</li>
							<li>
								<a href="calc.html" class="nav-link text-white">
									<img src="../svg/calc.svg" class="bi d-block mx-auto mb-1" width="24" height="24"></img>
									Kalkulátor
								</a>
							</li>
						</ul>    
					</div>
				</div>
			</header>
		</div>
		<div class="container">
			<div class="bd-example">
				<div class="wrapper">
					<div class="collapsible">
						<input type="checkbox" id="collapsible-head"></input>
						<label for="collapsible-head"> Szemeszter 4</label>
						<div class="collapsible-text">
							<div class="row row-cols-1 row-cols-md-2 g-4">
								<div class="col">
									<a href="notes/val-es-stat.html" id="card">
										<div class="card">
											<img class="bd-placeholder-img card-img-top" width="100%" height="180" src="../img/val-es-stat.png" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Valószínűségszámítás és statisztika</title><rect width="100%" height="100%" fill="#868e96"></rect></img>
											<div class="card-body">
												<h5 class="card-title">Valószínűségszámítás és statisztika</h5> 
											</div>
										</div>
									</a>
								</div>
								<div class="col">
									<a href="notes/linux-shell.html" id="card">
										<div class="card">
											<img class="bd-placeholder-img card-img-top" width="100%" height="180" src="../img/linux.png" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Linux és Shell programozás</title><rect width="100%" height="100%" fill="#868e96"></rect></img>
											<div class="card-body">
												<h5 class="card-title">Linux és Shell programozás</h5> 
											</div>
										</div>
									</a>
								</div>
								<div class="col">
									<a href="notes/sz-graf.html" id="card">
										<div class="card">
											<img class="bd-placeholder-img card-img-top" width="100%" height="180" src="../img/grafika.png" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Számítógépi grafika</title><rect width="100%" height="100%" fill="#868e96"></rect></img>
											<div class="card-body">
												<h5 class="card-title">Számítógépi grafika</h5> 
											</div>
										</div>
									</a>
								</div>
								<div class="col">
									<a href="notes/numan.html" id="card">
										<div class="card">
									  <img class="bd-placeholder-img card-img-top" width="100%" height="180" src="../img/numan.png" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Numerikus analízis</title><rect width="100%" height="100%" fill="#868e96"></rect></img>
									  <div class="card-body">
										<h5 class="card-title">Numerikus analízis</h5> 
									  </div>
									</div>
								  </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>