<!DOCTYPE html>
<html>
	<head lang="hu">
		<link rel="icon" href="../img/vapo.png">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Kalkulátor</title>
		<link href="../css/style.css" rel="stylesheet" type="text/css"/>
		<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<section>
		<div class="px-3 py-2 bg-dark text-white">
			<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
				<div class="container">
					<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
						<span class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"></span>
						<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
							<li>
								<a href="../index.html" class="nav-link text-white">
									<img src="../svg/house.svg" class="bi d-block mx-auto mb-1" width="24" height="24"></img>
									Főoldal
								</a>
							</li>
							<li>
								<a href="msgboard.html" class="nav-link text-white">
									<img src="../svg/msg.svg" class="bi d-block mx-auto mb-1" width="24" height="24"></img>
									Üzenőfal
								</a>
							</li>
							<li>
								<a href="schedule.html" class="nav-link text-white">
									<img src="../svg/calendar.svg" class="bi d-block mx-auto mb-1" width="24" height="24"></img>
									Órarend
								</a>
							</li>
							<li>
								<a href="notes.html" class="nav-link text-white">
									<img src="../svg/note.svg" class="bi d-block mx-auto mb-1" width="24" height="24"></img>
									Jegyzetek
								</a>
							</li>
							<li>
								<a href="#" class="nav-link text-secondary" aria-current="page">
									<img src="../svg/spotify.svg" class="bi d-block mx-auto mb-1" id="menu-icon" width="24" height="24"></img>
									Spotify playlist
								</a>
							</li>
							<li>
								<a href="https://github.com/solymosi/npu" target="_blank" rel="noopener noreferrer nofollow" class="nav-link text-white">
									<img src="../svg/powerup.svg" class="bi d-block mx-auto mb-1" width="24" height="24"></img>
									PowerUp!
								</a>
							</li>
							<li>
								<a href="https://drive.google.com/drive/folders/18zKFkxjT7kj2Neu6nV7XDmcroiy_T_m7?usp=sharing" 
								target="_blank" rel="noopener noreferrer nofollow" class="nav-link text-white">
									<img src="../svg/drive.svg" class="bi d-block mx-auto mb-1" width="24" height="24"></img>
									Drive
								</a>
							</li>
							<li>
								<a href="calc.html" class="nav-link text-white">
									<img src="../svg/calc.svg" class="bi d-block mx-auto mb-1" width="24" height="24"></img>
									Kalkulátor
								</a>
							</li>
						</ul>    
					</div>
				</div>
			</header>
		</div>
		<br>
		</br>
		<div class="embed-responsive embed-responsive-16by9">
			<center>
				<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4hcf6m6brlEDlnXxKwNsI0?utm_source=generator&theme=0" width="50%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" class="embed-responsive-item"></iframe>
			</center>
		</div>
		<div class="wave wave1"></div>
		<div class="wave wave2"></div>
		<div class="wave wave2"></div>
		<div class="wave wave3"></div>
	</body>
	</section>
</html>